body {
    font-size: 100%;
}
p {
    color: aquamarine;
    font-size: 100%;
    word-break: normal
}
h1 {
    color: red;
    text-align: center;
    text-decoration: break-word
}

#heading2{
    color: brown;
}